################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/venv
/backend/__pycache__
/frontend/react-app/.pnp.cjs
/frontend/react-app/.pnp.loader.mjs
/frontend/react-app/.yarn
