.CalendarBox {
    background-color: lightgray;
    width: 667px;
    height: 381px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;

    margin: 3px;
    border: 3px solid;
    border-radius: 20px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.NoEvents-Sticky {
    background-color: yellow;
    width: 300px;
    height: 200px;
    border: thin black solid;
    transform: rotate(-2deg);
    padding: 10px;
    aspect-ratio: 1/1;
    text-align: center;
    align-self: center;

    display: flex;
    flex-direction: column;
}

.CalendarItem{
    background-color: white;
    width: 639px;
    height: 70px;

    display: grid;
    grid-template-columns: 200px 286px 153px;
    grid-template-rows: 70px;

    align-self: center;
    margin: 1.5px;
    border: thin solid black;
    border-radius: 20px;
}

.CalendarItem-date {
    background-color: transparent;
    width: 200px;
    height: 60px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-break: break-all;
    justify-content: center;
    padding: 5px;
    line-height: 25px;
}

.CalendarItem-date-day {
    font-weight: bold;
}

.CalendarItem-date-date {
    font-weight: normal;
}

.CalendarItem-name {
    background-color: transparent;
    width: 286px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    padding: 5px;
    align-content: center;
}

.CalendarItem-Time {
    background-color: transparent;
    width: 153px;
    height: 70px;

    display: grid;
    grid-template-columns: 153px;
    grid-template-rows: 25px 20px 25px;
}

.CalendarItem-start {
    background-color: transparent;
    width: 153px;
    height: 25px;

    grid-row: 1 / 2;

    font-size: 16px;
    line-height: 16px;
    align-content: center;
}

.CalendarItem-to {
    background-color: transparent;
    width: 153px;
    height: 20px;

    grid-row: 2 / 3;

    font-size: 12px;
    line-height: 12px;
    align-content: center;
}

.CalendarItem-end {
    background-color: transparent;
    width: 153px;
    height: 25px;

    grid-row: 3  / 4;
    
    font-size: 16px;
    line-height: 16px;
    align-content: center;
}
