.Calendar {
    background-color: transparent;
    width: 679px;
    height: 400px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.CalendarItem{
    background-color: transparent;
    width: 679px;
    height: 75px;

    display: grid;
    grid-template-columns: 227px 227px 227px;
    grid-template-rows: 80px;

    margin: 1.5px;
    border: thin solid black;
    border-radius: 20px;
}

.CalendarItem-date {
    background-color: transparent;
    width: 226px;
    height: 75px;
}

.CalendarItem-name {
    background-color: transparent;
    width: 226px;
    height: 75px;

    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    justify-content: center;
}

.CalendarItem-Time {
    background-color: transparent;
    width: 226px;
    height: 75px;

    display: grid;
    grid-template-columns: 227px;
    grid-template-rows: 30px 20px 30px;
}

.CalendarItem-start {
    background-color: transparent;
    width: 226px;
    height: 27px;

    grid-row: 1 / 2;

    font-size: 16px;
    line-height: 16px;
    align-content: center;
}

.CalendarItem-to {
    background-color: transparent;
    width: 226px;
    height: 20px;

    grid-row: 2 / 3;

    font-size: 12px;
    line-height: 12px;
    align-content: center;
}

.CalendarItem-end {
    background-color: transparent;
    width: 226px;
    height: 27px;

    grid-row: 3  / 4;
    
    font-size: 16px;
    line-height: 16px;
    align-content: center;
}