.DateTimeBox {
    background-color: transparent;
    width: 327px;
    height: 180px;

    align-self: center;
    
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: 75px 75px;

    margin: 1px;
    border: 3px solid;
    border-radius: 20px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.TimeBox {
    background-color: transparent;
    width: 327px;
    height: 75px;
    margin-top: 12px;

    grid-row: 1 / 2;
    
    display: grid;
    grid-template-columns: 120px 120px 87px;
    grid-template-rows: 75px;
}

.Time {
    background-color: transparent;
    width: 240px;
    height: 75px;
    font-size: 65px;
    line-height: 65px;

    grid-column: 1 / span 2;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: end;
}

.AMPM {
    background-color: transparent;
    width: 87px;
    height: 75px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;

    grid-column: 3 / 4;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: start;
}

.DateBox {
    background-color: transparent;
    width: 327px;
    height: 75px;
    margin-top: 24px;

    grid-row: 2 / 3;
    
    display: grid;
    grid-template-columns: 123px 123px 81px;
    grid-template-rows: 75px;
}

.DOW {
    background-color: transparent;
    width: 123px;
    height: 75px;
    font-size: 24px;
    line-height: 24px;

    grid-column: 1 / 2;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.Month {
    background-color: transparent;
    width: 123px;
    height: 75px;
    font-size: 24px;
    line-height: 24px;

    grid-column: 2 / 3;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.Date {
    background-color: transparent;
    width: 81px;
    height: 75px;
    font-size: 50px;
    line-height: 75px;

    grid-column: 3 / 4;

    display: flex;
    justify-content: center;
}
