.App {
    width: 1024px;
    height: 600px;

    display: grid;
    grid-template-columns: 1024px;
    grid-template-rows: 200px 400px;

    font-family: "Open Sans", sans-serif;
    color: #000;
    /* remove border before deployment */
    border: thin black solid;
}

.Weather {
    width: 1021px;
    height: 200px;

    display: flex;
    flex-direction: row;
}

.BottomRow {
    width: 1021px;
    height: 400px;

    display: grid;
    grid-template-columns: 679px 339px;
    column-gap: 3px;
    grid-template-rows: 400px;
}

.LeftColumn {
    width: 679px;
    height: 400px;

    display: flex;
    flex-direction: column;
}

.RightColumn {
    width: 339px;
    height: 400px;

    display: grid;
    grid-template-columns: 339px;
    grid-template-rows: 150px 200px 50px;
}

.QOTD {
    width: 339px;
    height: 150px;

    display: flex;
    flex-direction: column;
}

.Clock {
    width: 339px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Status {
    width: 339px;
    height: 50px;

    display: flex;
    flex-direction: column;
    text-align: center;
}