.App {
  width: 1024px;
  height: 600px;

  display: grid;
  grid-template-columns: 682px 342px;
  grid-template-rows: 600px;
}

.LeftColumn {
    width: 682px;
    height: 600px;

    display: grid;
    grid-template-columns: 682px;
    grid-template-rows: 200px 400px;
}

.RightColumn {
    width: 342px;
    height: 600px;

    display: grid;
    grid-template-columns: 342px;
    grid-template-rows: 150px 50px 180px 200px 50px;
}

